
.marker {
      position: relative;
      /* transform: translate(-50%, -50%); */
}

.marker.user {
      color: rgb(20, 10, 114);
      font-size: 20px;
}

.marker.user::after{
      color: rgb(121, 117, 160);
      position: absolute;
      top: -17px;
      left: -17px;
      width: 50px;
      height: 50px;
      content: "";
      border-radius: 50%;
      background-color: blue;
      opacity: 0.2;
}
.marker.current,.marker.item ,.marker.search {
      font-size: 20px;
}

.marker.item {
      color: rgb(129, 0, 155);
}
.marker.current{
      color: rgb(240, 0, 0);
}
.marker.search {
      color: rgb(20, 10, 114);
}
.marker.search::after {
      color: rgb(14, 4, 97);
      position: absolute;
      top: -70px;
      left: -70px;
      width: 150px;
      height: 150px;
      content: "";
      border-radius: 50%;
      background-color: blue;
      opacity: 0.2;
}

.marker+p {
      display: none;
      position: absolute;
      bottom: -15px;
      left: 0;
      color: red;
      width: max-content;
      font-style: bold;
}

.marker:hover+p {
      display: block;
}