.OnePackInformation {
      margin: 4rem 0;
}

.OnePackInformation img {
      width: 35vw;
      height: 35vw;
      border-radius: 50%;
      box-shadow: var(--box-shadow-primary);
      margin-right: 5vw;
}

.OnePackInformation .block {
      margin: 1.5rem 0;
}

.OnePackInformation .block h2 {
      color: var(--color-purple);
      margin-bottom: var(--margin-bottom-medium);
}

.OnePackInformation .map {
      overflow: hidden;
}



.OnePackInformation input[type="checkbox"] {
      display: none;
}

.OnePackInformation input[type="checkbox"]+label {
      border: 1px solid var(--color-deep-blue);
      border-radius: 10px;
      box-shadow: var(--box-shadow-primary);
      background-color: rgba(var(--color-deep-blue-1), 0.8);
      padding: 0.3rem 0.6rem;
      outline: none;
      transition: all 0.6s ease-in-out;
      margin: 1rem;
      display: inline-block;
      color: var(--color-purple);
      transform: translateY(0px) scale(1);
}

.OnePackInformation input[type="checkbox"]:checked+label {
      background-color: var(--color-green) !important;
      transform: translateY(-2px) scale(1.15);
}
.OnePackInformation input[type="checkbox"]:not(:checked) +label {
      background-color:rgba(var(--color-deep-blue-1), 0.2) !important;
      transform: translateY(-2px) scale(1.15);
      color: rgba(var(--color-deep-blue-1), 0.8);
      background: linear-gradient(45deg,
            rgba(var(--color-dark-1), 1), 0, 
            rgba(var(--color-dark-1), 1), 50%, 
            rgba(var(--color-dark-1), 0.6), 100%);
}
input:nth-last-child(10){
      margin-bottom: 2rem;
}