.chatThread {
      border-radius: 5px;
      box-shadow: var(--box-shadow-primary);
      background: rgba(var(--color-green-1), 0.5);
      padding: 1rem;
}

.chatThread>div {
      padding: 1rem 0;
}

.chatThread img {
      height: 20px;
      width: 20px;
}
.chatThread{
      max-height: 75vh;
      overflow: auto;
}
.chatThread .left {
      align-self: flex-start;
}

.chatThread .left img {
      margin-right: 0.5rem;
}

.chatThread .right {
      align-self: flex-end;
}

.chatThread .right img {
      margin-left: 0.5rem;
}

.chatThread__add input {
      padding: 0.5rem;
      border-radius: 10px;
      width: 80%;
      outline: none;
      margin-top: 1rem;

}