.FeedBack{
      width: 100%;
      padding: 10px 20px;
      border-radius: 10px;
}

.FeedBack.failure{
      background-color: honeydew;
      color: red;
}
.FeedBack.success{
      background-color:  green;
      color: white;
}