.overlay{
      background-color: rgba(var(--color-dark-1),0.3);
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      transition: all 1s;
}


.contact-announcement {
      border-radius: 10px;
      position: relative;
      background-color: rgba(var(--color-deep-blue-1), 0.9);
      transition: all 5s ease-in-out;
}
.contact-announcement textarea{
      width: 100%;
      margin: 1rem auto;
}
