*,
*::after,
*::before{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html{
      font-size: 13px;
}
.block{
      padding:1rem;
      border: 1px solid gray;
      border-radius: 5px;
}