.profile-page {
      margin-top: 5rem;
      width: 100%;
}


.profile_radio input:not(:checked)+label+div {
      display: none;
}

.profile_radio input:checked+div {
      display: flex;
}

.image,
img {
      width: 100px;
      height: 100px;
}

table .block img {
      width: 20px;
      height: 20px;
}

@media (min-width:600px) {
      .profile-page .block {
            width: 60vw;
      }

}